In [3]:
from glob import glob
import numpy as np
filelist = glob("*.TPM.txt")

In [4]:
import pandas as pd

data = {}
for name in filelist:
    data[name.split(".")[0]] = pd.read_csv(name, sep="\t", header=None)

In [5]:
sorted_data = {}

for name in filelist:
    data[name.split(".")[0]].sort_values(0, inplace=True)
    sorted_data[name.split(".")[0]] = data[name.split(".")[0]][[0, 1]]
    
for k, v in sorted_data.items():
    v.columns=["gene", f"{k}"]

In [7]:
sorted_data["vpF1-2"]

            gene     vpF1-2
28285   g1000.t1  43.675888
20079  g10004.t1   4.699773
20080  g10005.t1   0.034973
20081  g10006.t1   2.100653
20083  g10007.t1   2.461901
...          ...        ...
20074   g9991.t1   1.041935
20076   g9996.t1   3.450384
20075   g9997.t1   2.657095
20078   g9998.t1   7.795204
20077   g9999.t1   0.101399

[33374 rows x 2 columns]

In [8]:
for cnt, (k, v) in enumerate(sorted_data.items()):
    if cnt == 0:
        tmp = sorted_data[list(sorted_data.keys())[np.argmax(list(map(len, sorted_data.values())))]]
    else:
        if k != list(sorted_data.keys())[np.argmax(list(map(len, sorted_data.values())))]:
            tmp = pd.merge(tmp, sorted_data[k], on="gene", how="outer")

name = list(map(lambda x : x.split(".")[0], sorted(filelist)))
lost = list(set(name) - set(tmp.columns))[0]
tmp = pd.merge(tmp, sorted_data[lost], on="gene", how="outer")
name = list(map(lambda x : x.split(".")[0], sorted(filelist)))
tpmdata = tmp[["gene"] + name]
tpmdata

,gene,vpF1-1,vpF1-2,vpF1-3,vpF2-1,vpF2-2,vpF2-3,vpF3-1,vpF3-2,vpF3-3,...,vpS1-3,vpS2-1,vpS2-2,vpS2-3,vpS3-1,vpS3-2,vpS3-3,vpS4-1,vpS4-2,vpS4-3
0,g1000.t1,48.193691,43.675888,41.494019,63.410027,44.610500,47.355579,41.005688,42.680351,39.692207,...,226.808258,220.240189,214.827423,247.464951,212.482559,223.768097,246.682312,236.433640,217.577316,242.893631
1,g10000.t1,0.093001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.085897,19.437950,19.436684,18.355034,22.321501,16.600199,22.744205,25.438593,27.225262,19.807264
2,g10004.t1,3.418670,4.699773,4.909054,5.318238,4.960538,4.922819,4.355658,5.271993,4.567809,...,8.761852,8.450713,8.377259,7.579546,9.168766,8.887913,8.556694,9.951911,11.434030,10.360949
3,g10005.t1,0.364417,0.034973,0.177490,0.086955,0.088182,NaN,0.314422,0.284359,0.124902,...,0.678253,0.569551,0.346980,0.543240,0.645846,1.076704,0.297117,1.048475,0.503927,0.759269
4,g10006.t1,2.892773,2.100653,2.563712,2.611145,2.373052,2.927313,4.877926,3.193532,3.342981,...,13.851267,11.185246,12.427471,13.234746,13.529623,13.287349,14.700809,11.655887,13.548303,13.508955
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42741,g4812.t1,NaN,0.047760,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42742,g48357.t1,NaN,0.112555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42743,g48626.t1,NaN,0.129844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42744,g8928.t1,NaN,0.926192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42745,g9780.t1,NaN,0.039820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
tpmdata.to_csv("./TPMdata.csv", index=False)